@model ResultViewModel

<main>
    @*<div id="result" class="container gap-3 div-ras content mt-5 mb-5 display-none">

            <div class="row justify-content-center mt-3">
                <div class="col-12 text-center">
                    <p class="h2">Результат расчёта:</p>
                </div>
            </div>

            <div class="row justify-content-center">
                <label for="apertureRatio" class="col-sm-8 col-form-label">Коэффициент диафрагмирования(Φ)</label>
                <div class="col-sm-4 ">
                    <div class="input-group">
                        <input disabled id="apertureRatio" asp-for="GetApertureRatio" type="text" class="form-control" aria-describedby="apertureRatio">
                        <span class="input-group-text" id="apertureRatio"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-1">
                <label for="radiationHeatLoss" class="col-sm-8 col-form-label">Потери теплоты излучения (Qл)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input disabled id="radiationHeatLoss" asp-for="GetRadiationHeatLoss" type="text" class="form-control" aria-describedby="radiationHeatLoss">
                        <span class="input-group-text" id="radiationHeatLoss">Дж</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-2">
                <label for="nameRas mb-1" class="col-sm-8 col-form-label">Наименование расчёта</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input id="nameRas" asp-for="Name" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" onclick="Save()" class="btn btn-outline-light btn-lg bt_s">
                        Сохранить
                    </button>
                    <input type="submit" class="btn btn-outline-light btn-lg bt_s" value="Отчёт" />
                </div>
            </div>
        </div>*@
</main>
